[submodule "third_party/cal.com"]
	path = third-party/cal.com
	url = ../cal.com.git
	branch = human-compatible
[submodule "third_party/lexicon"]
	path = third-party/lexicon
	url = ../lexicon.git
	branch = human-compatible
[submodule "private"]
	path = private
	url = ../private.git
[submodule "plugins/discourse/magic-matching"]
	path = libs/magic-matching
	url = ../magic-matching.git
[submodule "libraries/python/assistance"]
	path = libraries/python/assistance
	url = ../assistance.git
